body{
   background-color: gray; 
   }
   .A{
    color: rgba(217, 11, 11, 0.92);
   }
   .b{
    color: blue;
   }
   .c{
    color: rgb(201, 68, 68);
   }
   .d{
    color: green;
   }